div{
    border: black;
}
.header{
    text-align: center;
}
.main{
    display: flex;
   justify-content: center;
}

.container{
    height: 700px;
    width: 400px;
    background-color: #1c1c1c;
    border-radius: 5px;
    border:none;
   
}

.upper{
    height: 120px;
    width: 350px;
    text-align: right;
    border: none;
    margin: 20px;
    position: relative;
    left: 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #5a5a5a;
    color: #f5f5f5;
}
.lower{
    display: flex;
    justify-content: center;
}
.buttons{
    height: 400px;
    width: 350px;
    display:grid;
    grid-template-rows: 100px 100px 100px 100px 100px ;
    grid-template-columns: 90px 90px 90px 90px ;
    margin-top: 10px;
}

.button{
    margin: 10px;
    font-size: 1.5em;
    border: none;
    border-radius:10px ;
    background-color: #333333;
    color: #f5f5f5; 
    cursor: pointer;
}
.button:hover {
        background-color: #444444; 
        box-shadow: 0 0 5px white;
}

