div{
    border: black;
}
.header{
    text-align: center;
}
.main{
    display: flex;
   justify-content: center;
}
.container{
    height: 600px;
    width: 400px;
    background-color: black;
    border-radius: 5px;
    border:none;
   
}

.upper{
    height: 120px;
    width: 350px;
    margin: 20px;
    background-color: grey;
}
.lower{
    display: flex;
    justify-content: center;
}
.buttons{
    height: 400px;
    width: 350px;
    display:grid;
    grid-template-rows: 100px 100px 100px 100px 100px ;
    grid-template-columns: 90px 90px 90px 90px ;
    margin-top: 10px;
}

.buttons div{
    margin: 10px;
    background-color: orange;
  
}
