div{
    border: black;
}
.header{
    text-align: center;
}
.main{
    display: flex;
   justify-content: center;
}
.container{
    height: 700px;
    width: 400px;
    background-color: black;
    border-radius: 5px;
    border:none;
   
}

.upper{
    height: 120px;
    width: 350px;
    margin: 20px;

    background-color: #1e2126; 
    color: #ffffff;
}
.lower{
    display: flex;
    justify-content: center;
}
.buttons{
    height: 400px;
    width: 350px;
    display:grid;
    grid-template-rows: 100px 100px 100px 100px 100px ;
    grid-template-columns: 90px 90px 90px 90px ;
    margin-top: 10px;
}

.button{
    margin: 10px;
    background-color: #61dafb;
    color: #282c34; 
  
}
.button:hover {
    background-color: #21a1f1; /* Darker blue on hover */
}

